$cpu-color: rgb(42, 101, 166);
$instances-color: rgb(138, 209, 238);
$btn-color: rgb(64, 156, 202);

.chart {
  display: block;
}

.position {
  position: relative;
  padding-right: 3.3rem;
  padding-left: 11rem;
  bottom: -85px;
  z-index: 100;
  justify-content: space-between;
}

.bold {
  font-weight: 500;
  font-size: 14px;
}

.d-flex {
  display: flex;
}

.btn {
  position: relative;
  bottom: 15px;
  color: $btn-color;
  font-weight: 900 !important;
  font-size: 14px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: $btn-color;

  &:hover {
    color: $btn-color;
  }
}

.instance {
  .custom-control-label:before {
    background-color: $instances-color;
    border-color: $instances-color;
  }
}

.cpu {
  margin-left: 1.5rem;
  .custom-control-label:before {
    background-color: $cpu-color;
    border-color: $cpu-color;
  }
}

highcharts-chart {
  ::ng-deep {
    .highcharts-title {
      font-family: "Metropolis";
    }
  }
}
